body {
    margin: 0;
}

h1 {
    opacity: 0;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;

    color: white;
    text-align: center;
    font-family: 'Exo', sans-serif;
    background-color: #0f1925;

    transition: opacity 1s;
}

.show {
    opacity: 1;
}
